* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper{
    width: 80%;
    margin:0 10%;
    height: 100%;
    section{
        margin:0 5%;
    }
    header{
        position: relative;
        display: flex;
        .logo{
            align-content: center;
            display: block;
            width: 30%;
            float: left;
            margin-left: 5%;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        nav{
            float: right;
            display: flex;
            width: 60%;
            height: 50px;
            border-top: 1px solid silver;
            border-bottom: 1px solid silver;
            justify-content: space-around;
            margin-top: 160px;
            margin-bottom: 30px;
            margin-right: 5%;
            a{
                line-height: 50px;
                text-decoration: none;
            }
        }
    }
    .toolbar{
        text-align: end;
        margin-right: 5%;
        input{
            width: 150px;
            height: 30px;
            padding-left: 15px;
        }
    }

    article{
        width: 46%;
        margin: 1%;
        padding: 10px;
        .post-description{
            border-bottom: 2px solid silver;
            padding: 5px 0;
            margin-bottom: 5px;
        }  
        p{
            line-height: 25px; 
        }
        h3{
            margin-right: 100px;
        }
    }
    img{
        width: 100%;
    }
    #list{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 30px;
    }
    #about{
        h1{
            text-align: end;
        }
        p{
            margin-bottom: 20px;
            line-height: 25px; 
        }
    }
    #contact{
        h1{
            text-align: end;
            padding-top: 20px;
        }
        h4{
            text-align: end;
            padding-bottom: 15px;
        }
    }
    .form-input{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 230px;
        button{
            position: absolute;
            width: 150px;
            height: 30px;
            right: 0px;
            bottom: 0px;
            top: 200px;
            border: 0px;
        }
        div{
            input{
                width: 100%;
                height: 30px;
                margin-bottom: 10px;
                padding-left: 10px;
                border:1px solid grey;
            }
            &.message{
                textarea{
                    font-family: Arial, Helvetica, sans-serif;
                    width: 100%;
                    height: 70px;
                    padding-left:10px; 
                    padding-top: 5px;
                    border: 1px solid grey;
                }    
            }
        }
    }
    footer{
        color: silver;
        font-size: 10px;
        margin-left: 5%;
        margin-bottom: 5px;
    }
}
